<!DOCTYPE html>
<html>
<head>
	<title>todo_app wunderlist</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/my_style.css">
	<script src= "http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
</head>
<body>
	<div class="container" ng-app="mainApp" ng-controller="todoController">
		<h2>my todo list</h2>
		<form ng-submit="addTodo()">
			<input class="form-control" type="text" ng-model="input" placeholder="enter todo list"  autofocus>
		</form>
		<br>
		
		<ul class="list-group" class="todo-list">
			<input type="checkbox" ng-model="allChecked" ng-change="checkAll()" > mark all
			<li class="list-group-item" ng-repeat="todo in todos | filter: FILTER">
				<input type="checkbox" ng-model="todo.done" ng-change="changeTotalTodos(todo)">
				<input class="inputTodo" ng-dblclick="editTodo()" ng-readonly="readonly" ng-submit="saveEdit()" ng-class = "{deleted: todo.done}" value="{{todo.content}}">
				<button class="btn btn-delete pull-right" ng-click="remove($index)">delete</button>
			</li>
		</ul>
		<button class="btn btn-default" ng-click="status='ALL'"> All</button>
		<button class="btn btn-default" ng-click="status='ACTIVE'"> Active</button>
		<button class="btn btn-default" ng-click="status='COMPLETED'">Completed</button>
		<BUTTON class="btn btn-default" ng-click="removeCompleted()" >remove completed</BUTTON>
		<h2 class="row">You got 
			<span id="todo-count"><span class="emphasis">{{totalTodos()}}</span>
				<ng-pluralize count="totalTodos()" when="{one: 'thing', other: 'things' }"></ng-pluralize>
			</span>to do
		</h2>
	</div>

	<script type="text/javascript" src="controller.js">
	</script>
</body>
</html>